body {
    margin: 0;
}

/*header*/
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 5px solid grey;
    padding: 0 20px; 
    max-width: 100%;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover{
    cursor: pointer;
}
.header .anony {
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    font-size: 2rem;
}

.header .notes {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
}

.header img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

/*browse image*/
.browsebanner{
    text-align: center;
    margin-top: 2rem;
    max-width: 100%;
}

/*notes*/
.container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.notes {
    margin-bottom: 25px;
}
.top-note {
    display: block;
    margin-left: 31.3%;
}

.top-note img{
    width: 50px;
    margin-left: 10%;
}
.top-note h4 {
    display: block;
    margin-bottom: 0.5px;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.notes .note-box{
    border: 3px solid grey;
    margin-right:15px;
    box-shadow: 3px 3px rgb(122, 122, 122);
    padding: 75px;
    padding-right: 70px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
}

@media screen and (min-width: 768px){
    .container {
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .notes {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .notes img {
        display: inline-flex;
        width: 50px;
    }
    
    .notes h4 {
        display: inline-flex;
        margin-top: 0;
    }
    
    .notes .note-box{
        border: 3px solid grey;
        margin-right: 50px;
        box-shadow: 3px 3px rgb(122, 122, 122);
        padding: 75px;
        padding-right: 70px;
        width: 200px;
        border-radius: 10px;
        background-color: rgb(238, 238, 238);
    }
    
}















/*footer*/
footer {
    bottom: 0;
    left: 0;
    max-width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }

 footer a{
    text-decoration: none;
    color: white;
 }
 
 .logo {
    padding-bottom: 9px;
 }
 .logo .anony {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: large;
 }
 
 .logo .notes {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    margin: 0;
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center; /* Align the list items center */
 }
 
 li {
    display: inline-block; /* Display list items horizontally */
    margin: 0;
 }
 
 li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 15px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    font-size: medium;
    transition: 800ms;
 }
 
 li a:hover {
    background-color: #111;
 }

 @media screen and (max-width: 360px) {
    .footer {
        margin-right: 0;
        width: 95.7%;
    }
 }

 